<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<head>
  <meta charset="UTF-8">
  <title>天润！ 测试页面！1111111111111</title>
</head>
<body>
  <h1>天润！ 测试页面！11111111111111</h1>
</body>
<script>
  function test() {
    alert('江哥成功了吗？  还要继续努力哦!');

    location.href = 'http://47.92.249.206:9991/xkk/download';

    /*$.ajax({
      type: "GET",
      url: "http://47.92.249.206:9991/xkk/download",
      data: {  },
      dataType: "JSON",
      success: function(result) {
        var data = result.data;

      }
    });*/
  }
</script>
</html>