<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.tianrun.mapper.orderMapper">

    <select id="getDBAllOrgList" resultType="java.util.Map">
        select id_num,code,AppKey,AppSecret,access_token,refresh_token,user_id,org_id,app_name,update_time from XXX_code_token
    </select>

    <update id="updateOrgToken" parameterType="java.util.Map">
        update XXX_code_token set access_token = #{access_token},refresh_token = #{refresh_token},update_time = GETDATE()
        where org_id = #{org_id}
    </update>

    <select id="getTokenByAppKey" parameterType="java.lang.String" resultType="java.lang.String">
        select access_token from XXX_code_token where AppKey = #{AppKey}
    </select>

    <select id="getAppKeySecretByAppKey" parameterType="java.lang.String" resultType="java.util.Map">
        select AppKey,AppSecret from XXX_code_token where org_id = #{OrgId}
    </select>

    <select id="getXsddmapByCode" parameterType="java.lang.String" resultType="java.util.Map">
        select
            max(t1.pubuserdefnvc3) as startdate,
            max(t1.pubuserdefnvc4) as enddate,
            ISNULL(sum(t2.executedQuantity ),0) as totalNumbers ,
            ISNULL(sum(t2.quantity),0) as ddNumbers
        from SA_SaleOrder_b t2,SA_SaleOrder t1
        where t1.id = t2.idSaleOrderDTO and t1.code = #{xsddcode}
        group by t1.code
    </select>

    <select id="getCgddmapByCode" parameterType="java.lang.String" resultType="java.util.Map">
        select
            max(t1.pubuserdefnvc3) as startdate,
            max(t1.pubuserdefnvc4) as enddate,
            ISNULL(sum(t2.countArrivalQuantity),0) as totalNumbers ,
            ISNULL(sum(t2.quantity),0) as ddNumbers
        from PU_PurchaseOrder_b t2,PU_PurchaseOrder t1
        where t1.id = t2.idPurchaseOrderDTO and t1.code = #{cgddcode}
        group by t1.code
    </select>

    <select id="getTpartencodeByByJX" parameterType="java.lang.String" resultType="java.lang.String">
        select top 1 code
        from AA_PartnerEntity where partnerAbbName = #{partnerjx}
    </select>

    <select id="getTpartencodeByByConCode" parameterType="java.lang.String" resultType="java.lang.String">
        select top 1 t2.code from
        PU_PurchaseOrder t1,PU_PurchaseOrder_b t0,AA_PartnerEntity t2
        where  t1.id = t0.idPurchaseOrderDTO and  t0.pubuserdefnvc3 = #{pucode}  and t1.idpartner = t2.id
    </select>

    <select id="getTCustmorcodeByByJX" parameterType="java.lang.String" resultType="java.util.Map">
        select top 1
        t1.code,t2.code as settleCustomerCode
        from AA_PartnerEntity t1 left join AA_PartnerEntity t2  on t1.idsettlementPartner = t2.id
        where t1.partnerAbbName = #{custmorjx} and t1.partnerType != 226
    </select>

    <select id="getSadetailByCode" parameterType="java.lang.String" resultType="java.util.Map">
        select t1.sourceVoucherCode as xsddcode,max(t2.voucherdate) as codeday,
               sum(t1.quantity) as numbers
        from SA_SaleDelivery_b t1,SA_SaleDelivery t2
        where t1.idSaleDeliveryDTO = t2.id and t2.code = #{code}
        group by t1.sourceVoucherCode
    </select>

    <select id="getPudetailByCode" parameterType="java.lang.String" resultType="java.util.Map">
        select t1.sourceVoucherCode as cgddcode,max(t2.voucherdate) as codeday,
               sum(t1.quantity) as numbers
        from PU_PurchaseArrival_b t1,PU_PurchaseArrival t2
        where t1.idPurchaseArrivalDTO = t2.id and t2.code =  #{code}
        group by t1.sourceVoucherCode
    </select>

    <select id="getTinventorycodeByJX" parameterType="java.lang.String" resultType="java.util.Map">
        select top 1
        t1.code,t2.name as unitname,(select top 1 code from AA_Project where Name = #{xm}) as projectCode,
        ISNULL(t3.name,'') as taxnum
        from AA_inventoryEntity t1,AA_unit t2,eap_EnumItem t3,eap_EnumItem t4
        where t1.name like #{name}  and t1.idunit = t2.id  and t1.taxRate = t3.id
        and t1.productInfo = t4.ID and t4.name like #{productInfo}
    </select>

    <select id="getSASourceVoucherDetailId" parameterType="java.lang.String" resultType="java.lang.String">
        select top 1 ISNULL(t2.id,'') AS id
        from SA_SaleOrder t1,SA_SaleOrder_b t2,AA_inventoryEntity t3
        where t1.code = #{contractcode} and t1.id = t2.idSaleOrderDTO and t2.idinventory = t3.id
        and t3.code = #{tinventorycode}
    </select>

    <select id="getPUSourceVoucherDetailId" parameterType="java.lang.String" resultType="java.util.Map">
        select top 1
        ISNULL(CAST(t2.id AS nvarchar),'') AS id,ISNULL(CAST(t2.pubuserdefdecm4 AS nvarchar) ,'') AS danbaicha,t2.taxPrice,
        (select top 1 ISNULL(code,#{contractcode}) as sourceVoucherCode
                from PU_PurchaseOrder where id in (
                select idPurchaseOrderDTO from PU_PurchaseOrder_b where pubuserdefnvc3 = #{contractcode}
        )) as sourceVoucherCode
        from PU_PurchaseOrder t1,PU_PurchaseOrder_b t2,AA_inventoryEntity t3
        where t2.pubuserdefnvc3 = #{contractcode} and t1.id = t2.idPurchaseOrderDTO and t2.idinventory = t3.id
        and t3.code = #{tinventorycode}
    </select>

    <update id="updatePUdetailBySTCode" parameterType="java.lang.String">
        update  t1
        set t1.quantity = t4.quantity,t1.baseQuantity = t4.quantity,t1.taxamount = t4.quantity*t1.taxprice,
            t1.origTaxAmount = t4.quantity*t1.taxprice,
            t1.origDiscountAmount = t4.quantity*t1.origDiscountPrice,
            t1.tax = (t4.quantity*t1.taxprice)-(t4.quantity*t1.origDiscountPrice),
            t1.origTax = (t4.quantity*t1.taxprice)-(t4.quantity*t1.origDiscountPrice)
            from PU_PurchaseArrival_b t1,PU_PurchaseArrival t2,ST_RDRecord t3,ST_RDRecord_b t4
        where t1.idPurchaseArrivalDTO = t2.id and t2.code = t3.sourceVoucherCode and t3.id = t4.idRDRecordDTO
          and t1.idinventory = t4.idinventory and t3.code = #{vourcherCode} and t1.id = t4.sourceVoucherDetailId
    </update>

    <update id="updateSaleDeliverySourceRelation" parameterType="java.lang.String">
        update  t1
            set t1.quantity=t2.quantity, t1.baseQuantity=t2.quantity
        from SA_SaleDeliverySourceRelation t1,ST_RDRecord_b t2,ST_RDRecord t3
        where t1.idSaleDeliveryDetailDTO = t2.sourceVoucherDetailId and t2.idRDRecordDTO = t3.id and t3.code = #{code}
    </update>

    <update id="updatePurchaseArrivalSourceRelation" parameterType="java.lang.String">
        update  t1
        set t1.quantity=t2.quantity, t1.baseQuantity=t2.quantity
            from PU_PurchaseArrival_SourceRelation  t1,ST_RDRecord_b t2,ST_RDRecord t3
        where t1.idPurchaseArrivalDetailDTO = t2.sourceVoucherDetailId and t2.idRDRecordDTO = t3.id and t3.code = #{code}
    </update>

    <update id="updateSAdetailBySTCode" parameterType="java.lang.String">
        update  t1
        set t1.priuserdefdecm1 = (t1.quantity - t4.quantity),
            t1.quantity = t4.quantity,t1.baseQuantity = t4.quantity,t1.taxamount = t4.quantity*t1.taxprice,
            t1.origTaxAmount = t4.quantity*t1.taxprice,
            t1.origDiscountAmount = t4.quantity*t1.origDiscountPrice,
            t1.tax = (t4.quantity*t1.taxprice)-(t4.quantity*t1.origDiscountPrice),
            t1.origTax = (t4.quantity*t1.taxprice)-(t4.quantity*t1.origDiscountPrice)
            from SA_SaleDelivery_b t1,SA_SaleDelivery t2,ST_RDRecord t3,ST_RDRecord_b t4
        where t1.idSaleDeliveryDTO = t2.id and t2.code = t3.sourceVoucherCode and t3.id = t4.idRDRecordDTO
          and t1.idinventory = t4.idinventory and t3.code = #{vourcherCode} and t1.id = t4.sourceVoucherDetailId
    </update>

    <update id="updateARAPDetailByPUBusinessCode" parameterType="java.lang.String">
        update t1
        set t1.origAmount = t2.origTaxAmount,t1.amount = t2.origTaxAmount
        from ARAP_Detail t1,PU_PurchaseArrival_b t2,PU_PurchaseArrival t3,ST_RDRecord t4
        where t4.code = #{vourcherCode} and t4.sourceVoucherCode = t3.code and t3.id = t2.idPurchaseArrivalDTO
        and t2.id = t1.voucherDetailID
    </update>

    <update id="updateARAPDetailBySABusinessCode" parameterType="java.lang.String">
        update  t1
        set t1.origAmount = t2.origTaxAmount,t1.amount = t2.origTaxAmount
        from ARAP_Detail t1,SA_SaleDelivery_b t2,SA_SaleDelivery t3,ST_RDRecord t4
        where t4.code = #{vourcherCode} and t4.sourceVoucherCode = t3.code and t3.id = t2.idSaleDeliveryDTO
        and t2.id = t1.voucherDetailID
    </update>

    <update id="updateSASAPreReceiveAmount" parameterType="java.lang.String">
        update  SA_SaleDelivery
        set PreReceiveAmount =
            ( select SUM(t3.taxAmount) from SA_SaleDelivery t1,ST_RDRecord t2,SA_SaleDelivery_b t3
            where t1.code = t2.sourceVoucherCode and t2.code = #{vourcherCode} and t1.id = t3.idSaleDeliveryDTO ) ,
            origprereceiveamount = ( select SUM(t3.taxAmount) from SA_SaleDelivery t1,ST_RDRecord t2,SA_SaleDelivery_b t3
                                     where t1.code = t2.sourceVoucherCode and t2.code = #{vourcherCode} and t1.id = t3.idSaleDeliveryDTO )
        where id = ( select top 1 t1.id from SA_SaleDelivery t1,ST_RDRecord t2 where t1.code = t2.sourceVoucherCode and t2.code = #{vourcherCode} )
    </update>

    <update id="updateSAPreReceiveAmount" parameterType="java.lang.String">
        update SA_SaleDeliveryPreReceive
        set origcancelamount =
                ( select SUM(t3.taxAmount) from SA_SaleDelivery t1,ST_RDRecord t2,SA_SaleDelivery_b t3
                  where t1.code = t2.sourceVoucherCode and t2.code = #{vourcherCode} and t1.id = t3.idSaleDeliveryDTO )
        where idSaleDeliveryDTO =
              (select top 1  t1.id from SA_SaleDelivery t1,ST_RDRecord t2 where t1.code = t2.sourceVoucherCode and t2.code = #{vourcherCode} )
    </update>

    <select id="getTaxByInventoryCode" parameterType="java.lang.String" resultType="java.lang.String">
        select top 1  ISNULL(t2.name,'') as taxnum
        FROM  AA_InventoryEntity t1,eap_EnumItem t2
        where t1.code = #{inventorycode} and t1.taxRate = t2.id
    </select>

    <select id="getCustmoryushouByCode" parameterType="java.lang.String" resultType="java.util.Map">
        select t1.code,(t1.amount-t1.cancelOrigAmount) as amount,t1.amount as origamount,
               CONVERT(varchar(100), t1.voucherdate, 23) as prevoucherdate
        from AA_PartnerEntity t2
        left join ARAP_ReceivePayment t1
        on t1.idpartner = t2.id and  t1.idbusitype = 16 and ( (t1.amount-t1.cancelOrigAmount) > 0  ) and t1.code != 'NULL' and t1.code is not null
        where  t2.code = #{code} and t1.code != 'NULL' and t1.code is not null
        order by t1.id asc
    </select>

    <select id="getTotalYushouAmountByCode" parameterType="java.lang.String" resultType="java.lang.String">
        select sum(t1.amount-t1.cancelOrigAmount) as totalamount
        from ARAP_ReceivePayment t1,AA_PartnerEntity t2
        where t1.idpartner = t2.id and t2.code = #{code} and t1.idbusitype = 16 and ( (t1.amount-t1.cancelOrigAmount) > 0  )
        group by t2.id
    </select>

    <update id="updateSAYuShou" parameterType="java.util.Map">
        update SA_SaleDelivery
        set PreReceiveAmount = #{cancelamount},origprereceiveamount = #{cancelamount}
        where code = #{sacode}
    </update>

    <insert id="addSAYuShou" parameterType="java.util.Map">
        insert into SA_SaleDeliveryPreReceive(vouchercode,origamount,orignocancelamount,origcancelamount,cancelamount,idSaleDeliveryDTO,idvouchertype,voucherdate)
        values(#{code},#{origamount},#{amount},#{cancelamount},#{cancelamount},(select id from SA_SaleDelivery where code = #{sacode}),92,#{prevoucherdate})
    </insert>

    <insert id="addSAYuShouList" parameterType="java.util.List">
        insert into SA_SaleDeliveryPreReceive(vouchercode,origamount,orignocancelamount,origcancelamount,cancelamount,idSaleDeliveryDTO,idvouchertype,voucherdate)
        values
        <foreach item="item" collection="custmoryushoulist" separator=",">
            (#{item.code},#{item.origamount},#{item.amount},#{item.cancelamount},#{item.cancelamount},select id from SA_SaleDelivery where code = #{sacode},92,#{item.prevoucherdate})
        </foreach>
    </insert>

    <update id="updateSaDetailBySaOrderCode" parameterType="java.lang.String">
        update t2
        set t2.taxPrice = t4.taxPrice,
            t2.taxAmount = t4.taxAmount,
            t2.price = t4.price,
            t2.origTaxAmount = t4.origTaxAmount,
            t2.origDiscountAmount = t4.origDiscountAmount,
            t2.baseQuantity = t4.baseQuantity,
            t2.origDiscountPrice = t4.origDiscountPrice,
            t2.tax = t4.tax,
            t2.origTax = t4.origTax
        from SA_SaleDelivery_b t2,SA_SaleDelivery t1,SA_SaleOrder t3,SA_SaleOrder_b t4
        where t3.code = #{code} and t3.id = t4.idSaleOrderDTO and t3.code = t1.SaleOrderCode  and t1.id = t2.idSaleDeliveryDTO
        and t2.idinventory = t4.idinventory and t2.quantity = t4.quantity
    </update>

    <update id="updateSaDeliveryDetailBySaOrderCode" parameterType="java.lang.String">
        update t2
        set t2.pubuserdefnvc1 =  t3.pubuserdefnvc1,t2.pubuserdefnvc2 = t3.pubuserdefnvc2,
            t2.pubuserdefnvc5 = t3.pubuserdefnvc5,t2.pubuserdefnvc6 = t3.pubuserdefnvc6,
            t2.pubuserdefdecm9 = t3.pubuserdefdecm9,t2.priuserdefdecm1 = ( ISNULL(t2.pubuserdefdecm7,0) - ISNULL(t2.quantity,0) )
        from SA_SaleDelivery_b t2,SA_SaleDelivery t1,SA_SaleDelivery_b t3
        where t1.id = t2.idSaleDeliveryDTO and t1.id = t3.idSaleDeliveryDTO
        and t1.code = #{code} and t3.pubuserdefnvc1 is not null and t2.idinventory = t3.idinventory
        and (t2.pubuserdefnvc1 is null or t2.pubuserdefnvc1 = '')
    </update>

    <select id="getCustmorRule3Byname" parameterType="java.lang.String" resultType="java.util.Map">
        select ISNULL(sum(t1.amount-t1.cancelOrigAmount),0) as totalamount,max(t2.priuserdefnvc1) as sktype
        from AA_PartnerEntity t2 left join ARAP_ReceivePayment t1
        on t1.idpartner = t2.id and t1.idbusitype = 16 and ( (t1.amount-t1.cancelOrigAmount) > 0  )
        where t2.name = #{name}
        group by t2.id
    </select>

    <select id="getYushouTypeByCode" parameterType="java.lang.String" resultType="java.lang.String">
        select top 1  priuserdefnvc1  from ARAP_ReceivePayment where code = #{code}
    </select>


    <!--查询这个客户的 真实的 可以使用的预收款 还有多少（不包含定金）-->
    <select id="getRealYushouTypeByTcustmorname" parameterType="java.lang.String" resultType="java.lang.String">
        select CAST(ISNULL(sum(t1.amount-t1.cancelOrigAmount),0) AS nvarchar(500)) as amount
        from AA_PartnerEntity t2
        left join ARAP_ReceivePayment t1
        on t1.idpartner = t2.id and t1.idbusitype = 16 and ( (t1.amount-t1.cancelOrigAmount) > 0  )
        where t2.name = #{name}
        group by t2.code
    </select>

    <select id="getXMkoudaiByName" parameterType="java.lang.String" resultType="java.lang.String">
        select TOP 1  case when priuserdefnvc2 like '%不扣袋%' then '不扣袋' else '扣袋' end as  koubukou
        from AA_Project where name = #{name}
    </select>

    <insert id="addQTYSByStr" parameterType="java.lang.String">
        insert into CS_OtherReceiveVoucher(code,idbusinesstype,exchangeRate,OrigAmountSum,
        AmountSum,voucherState,voucherSettleState,voucherdate,maker,madedate,auditor,makerid,auditorid,
        auditeddate,idclerk,idpartner,iddepartment,idcurrency,createdtime,priuserdefnvc1,IdMarketingOrgan,
        HasRecordCredit,AuditedTime,priuserdefnvc2,PrintCount )
        values(#{qtyscode},72,1,#{djje},#{djje},189,428,GETDATE(),
            (select changer from SA_SaleQuotation where code = #{code}),
               GETDATE(),
            (select changer from SA_SaleQuotation where code = #{code}),
            (select top 1 id from AA_Person where name in (select changer from SA_SaleQuotation where code = #{code})),
            (select top 1 id from AA_Person where name in (select changer from SA_SaleQuotation where code = #{code})),
            GETDATE(),
            (select idclerk from SA_SaleQuotation where code = #{code}),
            (select idcustomer from SA_SaleQuotation where code = #{code}),
            (select iddepartment from SA_SaleQuotation where code = #{code}),
            4,GETDATE(),
            #{code},1,1,GETDATE(),#{code},0
        )
    </insert>

    <select id="getRecordQTYSByCode" parameterType="java.lang.String" resultType="java.lang.Integer">
        select ISNULL(count(id),0) as ct from CS_OtherReceiveVoucher
        where priuserdefnvc1 = #{bjcode} and priuserdefnvc2 = #{code}
        and OrigAmountSum <![CDATA[ < ]]> 0
    </select>

    <select id="getBJQTYSByCode" parameterType="java.lang.String" resultType="java.lang.Integer">
        select ISNULL(count(id),0) as ct from CS_OtherReceiveVoucher
        where priuserdefnvc1 = #{code} and priuserdefnvc2 = #{code} and OrigAmountSum > 0
    </select>

    <select id="getRecordQTYSByDDCode" parameterType="java.lang.String" resultType="java.lang.Integer">
        select ISNULL(count(id),0) as ct from CS_OtherReceiveVoucher where priuserdefnvc1 = #{code} and OrigAmountSum > 0
    </select>

    <select id="getRecordQTYFByCode" parameterType="java.lang.String" resultType="java.lang.Integer">
        select ISNULL(count(id),0) as ct from CS_OtherPaymentVoucher
        where priuserdefnvc1 = #{qgcode} and priuserdefnvc2 = #{code}
        and OrigAmountSum <![CDATA[ < ]]> 0
    </select>

    <select id="getQGQTYFByCode" parameterType="java.lang.String" resultType="java.lang.Integer">
        select ISNULL(count(id),0) as ct from CS_OtherPaymentVoucher
        where priuserdefnvc1 = #{code} and priuserdefnvc2 = #{code} > 0
    </select>

    <select id="getRecordQTYFByDDCode" parameterType="java.lang.String" resultType="java.lang.Integer">
        select ISNULL(count(id),0) as ct from CS_OtherPaymentVoucher where priuserdefnvc1 = #{code} AND OrigAmountSum > 0
    </select>

    <update id="updateQTYSdetailByStr" parameterType="java.lang.String">
        update CS_OtherReceiveVoucher_b
        set origamount = #{djje},amount = #{djje}
        where idotherReceiveVoucherDTO = (select top 1 id from CS_OtherReceiveVoucher where priuserdefnvc1 = #{code} and priuserdefnvc2 = #{code})
        and origamount > 0
    </update>

    <update id="updateRedQTYSdetailByStr" parameterType="java.lang.String">
        update CS_OtherReceiveVoucher_b
        set origamount = #{djje},amount = #{djje}
        where idotherReceiveVoucherDTO = (
                                            select top 1 id
                                            from CS_OtherReceiveVoucher
                                            where priuserdefnvc1 = #{bjcode} and priuserdefnvc2 = #{code}
                                         )
        and origamount <![CDATA[ < ]]> 0
    </update>

    <update id="updateYSWLByQTYSCode" parameterType="java.lang.String">
        update ARAP_Detail
        set origAmount = #{djje},amount = #{djje}
        where businessCode = (select top 1 code from CS_OtherReceiveVoucher where priuserdefnvc1 = #{code} and priuserdefnvc2 = #{code})
        and origAmount > 0
    </update>

    <update id="updateRedYSWLByQTYSCode" parameterType="java.lang.String">
        update ARAP_Detail
        set origAmount = #{djje},amount = #{djje}
        where businessCode = (select top 1 code from CS_OtherReceiveVoucher where priuserdefnvc1 = #{bjcode} and priuserdefnvc2 = #{code} )
        and origAmount  <![CDATA[ < ]]> 0
    </update>

    <update id="updateQTYFdetailByStr" parameterType="java.lang.String">
        update CS_OtherPaymentVoucher_b
        set origamount = #{djje},amount = #{djje}
        where idOtherPaymentVoucherDTO = (select top 1 id from CS_OtherPaymentVoucher where priuserdefnvc1 = #{code} and priuserdefnvc2 = #{code})
        and origamount > 0
    </update>

    <update id="updateRedQTYFdetailByStr" parameterType="java.lang.String">
        update CS_OtherPaymentVoucher_b
        set origamount = #{djje},amount = #{djje}
        where idOtherPaymentVoucherDTO = (select top 1 id from CS_OtherPaymentVoucher where priuserdefnvc1 = #{qgcode} and priuserdefnvc2 = #{code} )
          and origamount <![CDATA[ < ]]> 0
    </update>

    <update id="updateYSWLByQTYFCode" parameterType="java.lang.String">
        update ARAP_Detail
        set origAmount = #{djje},amount = #{djje}
        where businessCode = (select top 1 code from CS_OtherPaymentVoucher where priuserdefnvc1 = #{code} and priuserdefnvc2 = #{code})
        and origAmount > 0
    </update>

    <update id="updateRedYSWLByQTYFCode" parameterType="java.lang.String">
        update ARAP_Detail
        set origAmount = #{djje},amount = #{djje}
        where businessCode = (select top 1 code from CS_OtherPaymentVoucher where priuserdefnvc1 = #{qgcode} and priuserdefnvc2 = #{code})
          and origAmount <![CDATA[ < ]]> 0
    </update>


    <insert id="addQTYFByStr" parameterType="java.lang.String">
        insert into CS_OtherPaymentVoucher(code,idbusinesstype,exchangeRate,OrigAmountSum,
                                           AmountSum,voucherState,voucherSettleState,voucherdate,maker,madedate,auditor,makerid,auditorid,
                                           auditeddate,idclerk,idpartner,iddepartment,idcurrency,createdtime,priuserdefnvc1,IdMarketingOrgan,
                                           AuditedTime,priuserdefnvc2,PrintCount)
        values(#{qtyfcode},69,1,#{djje},#{djje},189,428,GETDATE(),
               (select changer from Pu_PurchaseRequisition where code = #{code}),
               GETDATE(),
               (select changer from Pu_PurchaseRequisition where code = #{code}),
               (select top 1 id from AA_Person where name in (select changer from Pu_PurchaseRequisition where code = #{code})),
               (select top 1 id from AA_Person where name in (select changer from Pu_PurchaseRequisition where code = #{code})),
               GETDATE(),
               (select idrequisitionperson from Pu_PurchaseRequisition where code = #{code}),
               (select idsuggpartner from Pu_PurchaseRequisition where code = #{code}),
               (select iddepartment from Pu_PurchaseRequisition where code = #{code}),
               4,GETDATE(),
               #{code},1,GETDATE(),#{code},0
              )
    </insert>

    <insert id="addQTYSBySAStr" parameterType="java.lang.String">
        insert into CS_OtherReceiveVoucher(code,idbusinesstype,exchangeRate,OrigAmountSum,
                                           AmountSum,voucherState,voucherSettleState,voucherdate,maker,madedate,auditor,makerid,auditorid,
                                           auditeddate,idclerk,idpartner,iddepartment,idcurrency,createdtime,priuserdefnvc1,IdMarketingOrgan,
                                           HasRecordCredit,AuditedTime,priuserdefnvc2,PrintCount)
        values(#{qtyscode},72,1,#{djje},#{djje},189,428,GETDATE(),
               (select changer from SA_SaleOrder where code = #{code}),
               GETDATE(),
               (select changer from SA_SaleOrder where code = #{code}),
               (select top 1 id from AA_Person where name in (select changer from SA_SaleOrder where code = #{code})),
               (select top 1 id from AA_Person where name in (select changer from SA_SaleOrder where code = #{code})),
               GETDATE(),
               (select idclerk from SA_SaleOrder where code = #{code}),
               (select idcustomer from SA_SaleOrder where code = #{code}),
               (select iddepartment from SA_SaleOrder where code = #{code}),
               4,GETDATE(),
               #{code},1,1,GETDATE(),#{code},0
              )
    </insert>

    <insert id="addREDQTYSBySAStr" parameterType="java.lang.String">
        insert into CS_OtherReceiveVoucher(code,idbusinesstype,exchangeRate,OrigAmountSum,
                                           AmountSum,voucherState,voucherSettleState,voucherdate,maker,madedate,auditor,makerid,auditorid,
                                           auditeddate,idclerk,idpartner,iddepartment,idcurrency,createdtime,priuserdefnvc1,IdMarketingOrgan,
                                           HasRecordCredit,AuditedTime,priuserdefnvc2,PrintCount)
        values(#{qtyscode},72,1,#{djje},#{djje},189,428,GETDATE(),
               (select changer from SA_SaleOrder where code = #{code}),
               GETDATE(),
               (select changer from SA_SaleOrder where code = #{code}),
               (select top 1 id from AA_Person where name in (select changer from SA_SaleOrder where code = #{code})),
               (select top 1 id from AA_Person where name in (select changer from SA_SaleOrder where code = #{code})),
               GETDATE(),
               (select idclerk from SA_SaleOrder where code = #{code}),
               (select idcustomer from SA_SaleOrder where code = #{code}),
               (select iddepartment from SA_SaleOrder where code = #{code}),
               4,GETDATE(),
               (select TOP 1 SourceVoucherCode from SA_SaleOrder where code = #{code}),
               1,1,GETDATE(),#{code},0
              )
    </insert>

    <insert id="addQTYFByPUStr" parameterType="java.lang.String">
        insert into CS_OtherPaymentVoucher(code,idbusinesstype,exchangeRate,OrigAmountSum,
                                           AmountSum,voucherState,voucherSettleState,voucherdate,maker,madedate,auditor,makerid,auditorid,
                                           auditeddate,idclerk,idpartner,iddepartment,idcurrency,createdtime,priuserdefnvc1,IdMarketingOrgan,
                                           AuditedTime,priuserdefnvc2,PrintCount)
        values(#{qtyscode},69,1,#{djje},#{djje},189,428,GETDATE(),
               (select changer from PU_PurchaseOrder where code = #{code}),
               GETDATE(),
               (select changer from PU_PurchaseOrder where code = #{code}),
               (select top 1 id from AA_Person where name in (select changer from PU_PurchaseOrder where code = #{code})),
               (select top 1 id from AA_Person where name in (select changer from PU_PurchaseOrder where code = #{code})),
               GETDATE(),
               (select idclerk from PU_PurchaseOrder where code = #{code}),
               (select idpartner from PU_PurchaseOrder where code = #{code}),
               (select iddepartment from PU_PurchaseOrder where code = #{code}),
               4,GETDATE(),
               #{code},1,GETDATE(),#{code},0
              )
    </insert>


    <insert id="addREDQTYFByPUStr" parameterType="java.lang.String">
        insert into CS_OtherPaymentVoucher(code,idbusinesstype,exchangeRate,OrigAmountSum,
                                           AmountSum,voucherState,voucherSettleState,voucherdate,maker,madedate,auditor,makerid,auditorid,
                                           auditeddate,idclerk,idpartner,iddepartment,idcurrency,createdtime,priuserdefnvc1,IdMarketingOrgan,
                                           AuditedTime,priuserdefnvc2,PrintCount)
        values(#{qtyscode},69,1,#{djje},#{djje},189,428,GETDATE(),
               (select changer from PU_PurchaseOrder where code = #{code}),
               GETDATE(),
               (select changer from PU_PurchaseOrder where code = #{code}),
               (select top 1 id from AA_Person where name in (select changer from PU_PurchaseOrder where code = #{code})),
               (select top 1 id from AA_Person where name in (select changer from PU_PurchaseOrder where code = #{code})),
               GETDATE(),
               (select idclerk from PU_PurchaseOrder where code = #{code}),
               (select idpartner from PU_PurchaseOrder where code = #{code}),
               (select iddepartment from PU_PurchaseOrder where code = #{code}),
               4,GETDATE(),
               (SELECT top 1 SourceVoucherCode from PU_PurchaseOrder where code = #{code}),
               1,GETDATE(),#{code},0
              )
    </insert>


    <select id="getMaxidByQTYS" resultType="java.lang.Integer">
        select ISNULL(max(id),0) AS id from CS_OtherReceiveVoucher
    </select>

    <select id="getMaxidByQTYF" resultType="java.lang.Integer">
        select ISNULL(max(id),0) AS id from CS_OtherPaymentVoucher
    </select>

    <insert id="addQTYSdetailByStr" parameterType="java.lang.String">
        insert into CS_OtherReceiveVoucher_b(summary,origamount,amount,idotherReceiveVoucherDTO)
        values(#{descc},#{djje},#{djje},${id})
    </insert>

    <insert id="addQTYFdetailByStr" parameterType="java.lang.String">
        insert into CS_OtherPaymentVoucher_b(summary,origamount,amount,idOtherPaymentVoucherDTO)
        values(#{descc},#{djje},#{djje},${id})
    </insert>

    <delete id="deleteQTYSdetail" parameterType="java.lang.String">
        delete from CS_OtherReceiveVoucher_b where idotherReceiveVoucherDTO = (select id from CS_OtherReceiveVoucher where priuserdefnvc1 = #{code})
    </delete>

    <delete id="deleteQTYS" parameterType="java.lang.String">
        delete from CS_OtherReceiveVoucher where priuserdefnvc1 = #{code}
    </delete>

    <select id="getSaorderDetailByCode" parameterType="java.lang.String" resultType="java.util.Map">
        select
            ISNULL(max(k1.SourceVoucherCode),'') as SourceVoucherCode,
            ISNULL(max(k1.idsourcevouchertype),'') as idsourcevouchertype,
            ISNULL(max(k1.yn),'') as yn ,
            ISNULL(max(k1.pubuserdefdecm1),0) as pubuserdefdecm1,
            ISNULL(max(k1.bgr),'') as bgr,
            ISNULL(max(k1.sact),0) as sact,
            ISNULL(max(k2.pubuserdefdecm1),0) as bjdjje,
            sum(k3.quantity) as bjct
        from(
                select
                    max(t1.code) as code,
                    max(t1.SourceVoucherCode) as SourceVoucherCode ,
                    max(t1.idsourcevouchertype) as idsourcevouchertype ,
                    ISNULL(max(t1.priuserdefnvc3),'') as yn ,
                    ISNULL(max(t1.pubuserdefdecm1),0) as pubuserdefdecm1,
                    ISNULL(max(t1.changer),'') AS bgr,
                    ISNULL(sum(t0.quantity),0) as sact
                from SA_SaleOrder_b t0, SA_SaleOrder t1
                where t0.idSaleOrderDTO = t1.id and t0.IsClose != 1 and t1.code = #{code}
                group by t1.id
            )k1 left join SA_SaleQuotation k2 on k1.SourceVoucherCode = k2.code
                left join SA_SaleQuotation_b k3 on k2.id = k3.idSaleQuotationDTO
        group by k1.code
    </select>

    <select id="getPuorderDetailByCode" parameterType="java.lang.String" resultType="java.util.Map">
        select
            ISNULL(max(k1.SourceVoucherCode),'') as SourceVoucherCode,
            ISNULL(max(k1.idsourcevouchertype),'') as idsourcevouchertype,
            ISNULL(max(k1.yn),'') as yn ,
            ISNULL(max(k1.pubuserdefdecm1),0) as pubuserdefdecm1,
            ISNULL(max(k1.bgr),'') as bgr,
            ISNULL(max(k1.sact),0) as sact,
            ISNULL(max(k2.pubuserdefdecm1),0) as bjdjje,
            sum(k3.quantity) as bjct
        from(
                select
                    max(t1.code) as code,
                    max(t1.SourceVoucherCode) as SourceVoucherCode ,
                    max(t1.idsourcevouchertype) as idsourcevouchertype ,
                    ISNULL(max(t1.priuserdefnvc5),'') as yn ,
                    ISNULL(max(t1.pubuserdefdecm1),0) as pubuserdefdecm1,
                    ISNULL(max(t1.changer),'') AS bgr,
                    ISNULL(sum(t0.quantity),0) as sact
                from PU_PurchaseOrder_b t0, PU_PurchaseOrder t1
                where t0.idPurchaseOrderDTO = t1.id and t0.IsClose != 1 and t1.code = #{code}
                group by t1.id
            )k1 left join Pu_PurchaseRequisition k2 on k1.SourceVoucherCode = k2.code
                left join Pu_PurchaseRequisition_b k3 on k2.id = k3.idPurchaseRequisitionDTO
        group by k1.code
    </select>

    <select id="getQTSYcanuseByCode" parameterType="java.lang.String" resultType="java.lang.String">
        select  isnull(sum(amount),0)  as canusedjje
        from CS_OtherReceiveVoucher_b where idotherReceiveVoucherDTO in
        (select id from CS_OtherReceiveVoucher where priuserdefnvc1 = #{xsddcode})
    </select>

    <select id="getQTYFcanuseByCode" parameterType="java.lang.String" resultType="java.lang.String">
        select  isnull(sum(amount),0)  as canusedjje
        from CS_OtherPaymentVoucher_b where idOtherPaymentVoucherDTO in
        (select id from CS_OtherPaymentVoucher where priuserdefnvc1 = #{code})
    </select>

    <select id="getddNumbersByCode" parameterType="java.lang.String" resultType="java.lang.String">
        select CAST(sum(t2.quantity) AS nvarchar) as ddNumbers
        from SA_SaleOrder t1,SA_SaleOrder_b t2
        where t1.id = t2.idSaleOrderDTO and t1.code = #{xsddcode}
    </select>

    <select id="getcgNumbersByCode" parameterType="java.lang.String" resultType="java.lang.String">
        select CAST(sum(t2.quantity) AS nvarchar) as ddNumbers
        from PU_PurchaseOrder t1,PU_PurchaseOrder_b t2
        where t1.id = t2.idPurchaseOrderDTO and t1.code = #{code}
    </select>

    <insert id="addYSWLByQTYSCode" parameterType="java.lang.String">
        insert into ARAP_Detail(year,period,voucherCode,detailName,businessCode,exchangeRate,origAmount,amount,auditFlag,auditBussinessFlag,
            isArFlag,flag,detailtype,idbusitype,idcurrency,iddepartment,idnosettlepartner,idpartner,idperson,BookFlag,
            voucherDetailID,voucherID,businessID,idarapvouchertype,idvouchertype,voucherDate,registerDate,createdTime)
            select
                    YEAR(t1.createdtime),MONTH(t1.createdtime),t1.code,t2.summary,t1.code,t1.exchangeRate,t2.amount,t2.amount,1,1,
                    1,1,'income',72,4,t1.iddepartment,t1.idpartner,t1.idpartner,t1.idclerk,2214,
                    t2.id,t1.id,t1.id,129,129,t1.voucherdate,t1.voucherdate,t1.createdtime
                from CS_OtherReceiveVoucher t1,CS_OtherReceiveVoucher_b t2
                where t1.id = t2.idotherReceiveVoucherDTO and t1.code = #{qtsycode}
    </insert>

    <insert id="addYSWLByQTYFCode" parameterType="java.lang.String">
        insert into ARAP_Detail(year,period,voucherCode,detailName,businessCode,exchangeRate,origAmount,amount,auditFlag,auditBussinessFlag,
                                isArFlag,flag,detailtype,idbusitype,idcurrency,iddepartment,idnosettlepartner,idpartner,idperson,BookFlag,
                                voucherDetailID,voucherID,businessID,idarapvouchertype,idvouchertype,voucherDate,registerDate,createdTime)
        select
                YEAR(t1.createdtime),MONTH(t1.createdtime),t1.code,t2.summary,t1.code,t1.exchangeRate,t2.amount,t2.amount,1,1,
                  0,-1,'inventory',69,4,t1.iddepartment,t1.idpartner,t1.idpartner,t1.idclerk,2217,
                  t2.id,t1.id,t1.id,128,128,t1.voucherdate,t1.voucherdate,t1.createdtime
                      from CS_OtherPaymentVoucher t1,CS_OtherPaymentVoucher_b t2
                where t1.id = t2.idOtherPaymentVoucherDTO and t1.code = #{qtsycode}
    </insert>

    <delete id="deleteYSWLByQTYSCode" parameterType="java.lang.String">
        delete from ARAP_Detail where voucherCode in (select code from CS_OtherReceiveVoucher where priuserdefnvc1 = #{code})
    </delete>

    <select id="getPuNumbersByCode" parameterType="java.lang.String" resultType="java.lang.String">
        select CAST(ISNULL(sum(quantity),0) AS nvarchar) as quantity
        from PU_PurchaseArrival_b
        where idPurchaseArrivalDTO in (select id from PU_PurchaseArrival where code = #{code})
    </select>

    <select id="getSaNumbersByCode" parameterType="java.lang.String" resultType="java.lang.String">
        select CAST(ISNULL(sum(quantity),0) AS nvarchar) as quantity
        from SA_SaleDelivery_b
        where idSaleDeliveryDTO in (select id from SA_SaleDelivery where code = #{code})
    </select>

    <update id="updatePuCreatorAndCleakByID" parameterType="java.lang.String">
        update PU_PurchaseArrival set maker = '王丹',makerid = 47,idclerk = 14
        where id = #{id}
    </update>

    <update id="updateSaCreatorAndClerkByCode" parameterType="java.lang.String">
        update SA_SaleDelivery set maker = '叶新蓉',makerid = 46,idclerk = 13
        where code = #{code}
    </update>

    <update id="updatePurchaseRequisitionCX" parameterType="java.lang.String">
        update Pu_PurchaseRequisition
            set  priuserdefdecm3 = (
                    SELECT ISNULL(sum(origamount),0)
                    from CS_OtherPaymentVoucher_b
                    where idOtherPaymentVoucherDTO in (select id from CS_OtherPaymentVoucher where priuserdefnvc1 = #{code}) and origamount <![CDATA[ < ]]> 0
                )
        where code = #{code}
    </update>

    <update id="updateSaleQuotationCX" parameterType="java.lang.String">
        update SA_SaleQuotation
            set  priuserdefdecm1 = (
                    SELECT ISNULL(sum(origamount),0)
                    from CS_OtherReceiveVoucher_b
                    where idotherReceiveVoucherDTO in (select id from CS_OtherReceiveVoucher where priuserdefnvc1 = #{code}) and origamount <![CDATA[ < ]]> 0
                )
        where code = #{code}
    </update>

    <update id="updateSaorderCX" parameterType="java.lang.String">
        update SA_SaleOrder
            set priuserdefdecm3 = (
                    SELECT ISNULL(sum(origamount),0)
                    from CS_OtherReceiveVoucher_b
                    where idotherReceiveVoucherDTO in (select id from CS_OtherReceiveVoucher where priuserdefnvc1 = #{xsddcode}) and origamount <![CDATA[ < ]]> 0
                )
        where code = #{xsddcode}
    </update>

    <update id="updatePuorderCX" parameterType="java.lang.String">
        update PU_PurchaseOrder
        set priuserdefdecm3 = (
            SELECT ISNULL(sum(origamount),0)
            from CS_OtherPaymentVoucher_b
            where idOtherPaymentVoucherDTO in (select id from CS_OtherPaymentVoucher where priuserdefnvc1 = #{cgddcode}) and origamount <![CDATA[ < ]]> 0
        )
        where code = #{cgddcode}
    </update>

    <update id="updateSaorderBySTInventoryQuanity" parameterType="java.lang.String">
        update k1
        set k1.executedQuantity = k2.ct,k1.executedQuantity2 = k2.ct
            from SA_SaleOrder_b k1,(
            select t1.id,sum(t3.quantity) as ct
            from SA_SaleOrder_b t1,SA_SaleOrder t2,SA_SaleDelivery_b t3
            where t1.idSaleOrderDTO = t2.id  and t2.code = t3.sourceVoucherCode
            and t1.id = t3.sourceVoucherDetailId
            group by t1.id
            )k2
        where k1.id = k2.id
    </update>

    <update id="updatePuorderBySTInventoryQuanity" parameterType="java.lang.String">
        update k1
        set k1.countQuantity = k2.ct,k1.countQuantity2 = k2.ct
            from PU_PurchaseOrder_b k1,(
            select t1.id,sum(t3.quantity) as ct
            from PU_PurchaseOrder_b t1,PU_PurchaseOrder t2,PU_PurchaseArrival_b t3
            where t1.idPurchaseOrderDTO = t2.id  and t2.code = t3.sourceVoucherCode
            and t1.id = t3.sourceVoucherDetailId
            group by t1.id
            )k2
        where k1.id = k2.id
    </update>
</mapper>